/* * {
    border: 1px solid red;
} */

body {
    display: flex;
    flex-direction: column;
    font-family: roboto;
    margin: 0px
}

.header, .section-one, .section-two, 
.section-three, .section-four, .footer {
    padding: 0px 10vw;
}

.header, .section-one, .footer {
    background-color: #1f2937; 
}

.section-two, .section-three {
    min-height: 60vh;
}

.section-one, .section-four {
    min-height: 50vh;
}

.header, .footer {
    min-height: 10vh;
}

.herosectext, .headerlink {
    font-size: 18px;
    color: #E5E7EB;
    font-weight: lighter;
}

.header {
    display: flex;
    align-items: center;
}

.zukilogo {
    width: 75px;
    height: auto;
}

.herotext {
    font-size: 48px;
    font-weight:bolder;
    color: #F9FAF8;
}

.ulheader {
    display: flex;
    margin-left: auto;
}

.headerlink {
    list-style: none;
    text-decoration: none;
    margin-left: 15px;
}

.section-one {
    display: flex;
    justify-content: center;
    align-items: center;
}

.container-one {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.container-one-info {
    display: flex;
    flex-wrap: wrap;
    justify-items: flex-start;
    align-items: center;
    flex: 1 1 50%;
    gap: 10px;
}

.container-one-pic {
    display: flex;
    justify-content: center;
    flex: 1 0 50%;
}

.zuki-headshot {
    max-width: 45%;
}

.herotext, .herosectext {
    margin: 0px;
    padding: 2px
}

.section-two {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    text-align: center;
}

.stwotitle {
    color: #1f2937;
    font-weight: bolder;
    font-size: 36px;
    margin: 5vh;
}

.stwocontainer {
    display: flex;
    flex: 1;
    flex-flow: row wrap;
    justify-content: center;
    gap: 3vw;
}

.zukipics {
    height: auto;
    width: 200px;
    border: 8px solid #F9699E;
    border-radius: 50%;
    box-sizing: border-box;
}

.info {
    max-width: 200px;
    color: gray;
}

.section-three {
    background-color: #E5E7EB;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: justify;
}

.sthreecontainer {
    padding: 0px 150px;
}

.signature {
    text-align: right;
    font-weight: bold;
    font-size: 18px;
    margin: 0px;
    margin-top: 10px;
}

.section-four {
    display: flex;
    justify-content: center;
    align-items: center;
}

.sfourcontainer {
    background-color: #EF2300;
    color: #F9FAF8;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0px;
    padding: 40px 100px;
    border-radius: 8px;
}

.sfourinfo > * {
    padding: 0px;
    margin: 0px;
}

.sfourtitle {
    font-size: 24px;
    font-weight: bold;
}

.sfourtext {
    font-weight: lighter;
}

.footer {
    display: flex;
    color: #F9FAF8;
    justify-content: center;
    align-items: center;
}

em {
    padding: 0px;
    margin: 0px;
    font-size: 30px;
    font-weight: lighter;
}

.buttonone, .buttontwo {
    background-color: #EF2300;
    color:#F9FAF8;
    font-weight: bold;
    border-radius: 8px;
    border-width: 2px;
    border-style: solid;
    padding: 10px 20px;
}

.buttonone {
    border-color: #1f2937;
    background-color: #EF2300;
}

.buttontwo {
    border-color: #F9FAF8;
    margin-left: 10vw;
}

ul {
    list-style: none;
    padding: 0px;
    margin: 0px;
}

strong {
    padding: 0px;
    margin: 0px;
    text-decoration-line: underline ;
    font-size: small;
}